src/main/mule/mule-common-eh.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:http="http://www.mulesoft.org/schema/mule/http" xmlns:json-logger="http://www.mulesoft.org/schema/mule/json-logger"
	xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/json-logger http://www.mulesoft.org/schema/mule/json-logger/current/mule-json-logger.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd">
	<flow name="mule-common-ehFlow" doc:id="59bcefcd-6db0-4980-ac8f-074f285c10c9" >
		<http:listener doc:name="Listener" doc:id="43baaaec-3b37-4fe8-a24c-3aae65f33a6c" path="/" config-ref="HTTP_Listener_config">
			<http:response statusCode="#[vars.httpStatus default 200]" >
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:response>
			<http:error-response statusCode="#[vars.httpStatus default 500]" >
				<http:body ><![CDATA[#[payload]]]></http:body>
				<http:headers ><![CDATA[#[vars.outboundHeaders default {}]]]></http:headers>
			</http:error-response>
		</http:listener>
		<raise-error doc:name="Raise error" doc:id="8999b74c-826e-415d-9471-51c2ce1e4b6b" type="BUSINESS:INVALID_RESPONSE"/>
		<error-handler >
			<on-error-propagate enableNotifications="true" logException="true" doc:name="On Error Propagate" doc:id="bbead0f3-5cd7-4ae8-8444-2ef2443e04bf" >
				<flow-ref doc:name="Flow Reference" doc:id="06895105-0001-43d1-b95d-dd2f4d256186" name="MainErrorHandlerFlow" />
			</on-error-propagate>
		</error-handler>
	</flow>
</mule>
